apiVersion: v1
kind: Pod
metadata:
  name: ogs
  annotations:
#very important, this prevents pod from running with random mapped uid, rather it will run with the pods creators uid
    io.podman.annotations.userns: keep-id
spec:
  restartPolicy: Never
  volumes:
    #general volumeMounts
    - name: shared-storage
      hostPath:
        path: /mission-share/podman/containers
        type: DirectoryOrCreate  # Creates directory if it doesn't exist
    - name: configs
      hostPath:
        path: /mission-share/podman/containers/configs
        type: DirectoryOrCreate

    #grafana
    - name: grafana-storage
      hostPath:
        path: /mission-share/podman/containers/grafana
        type: DirectoryOrCreate
    - name: grafana-provisioning
      hostPath:
        path: /mission-share/podman/containers/grafana/provisioning
        type: DirectoryOrCreate
    - name: grafana-dashboards-prov
      hostPath:
        path: /mission-share/podman/containers/grafana/provisioning/dashboards
        type: DirectoryOrCreate
    - name: grafana-dashboards
      hostPath:
        path: /mission-share/podman/containers/grafana/dashboards
        type: DirectoryOrCreate
    - name: grafana-keys
      hostPath:
        path: /mission-share/podman/containers/keys/grafana
        type: DirectoryOrCreate

  containers:
    - name: grafana
      #image: registry1.dso.mil/ironbank/opensource/grafana/grafana:GRAFANA_VERSION
      image: localhost/grafana-oss-custom:GRAFANA_VERSION
      securityContext:
        runAsUser: --UID--
        runAsGroup: --GID--
      ports:
        - containerPort: 3000
          hostPort: 3000
      env:
        - name: GF_PATHS_CONFIG
          value: "/etc/grafana/grafana.ini"

        - name: GF_AUTH_ANONYMOUS_ENABLED
          value: "true"

        - name: LDAP_BIND_PASSWORD
          value: LDAP_BIND_PASSWD_VALUE

        - name: GF_SECURITY_ADMIN_USER
          value: GRAFANA_ADMIN_USERNAME

        - name: GF_SECURITY_ADMIN_PASSWORD
          value: GRAFANA_ADMIN_PW



      volumeMounts:
        - name: grafana-storage
          mountPath: /var/lib/grafana
          # Persist Grafana's working data (dashboards, DB, etc.)

        - name: grafana-provisioning
          mountPath: /etc/grafana/provisioning
          # For datasources.yaml, dashboards.yaml

        - name: grafana-dashboards
          mountPath: /var/lib/grafana/dashboards
          # Pre-loaded dashboards (JSON files)

        - name: grafana-provisioning
          mountPath: /etc/grafana/provisioning/datasources/datasources.yaml
          subPath: datasources.yaml

        - name: grafana-dashboards-prov
          mountPath: /etc/grafana/provisioning/dashboards/dashboards.yaml
          subPath: dashboards.yaml

        - name: grafana-keys
          mountPath: /etc/grafana/keys

        - name: configs
          mountPath: /etc/grafana/grafana.ini
          subPath: grafana.ini

        - name: configs
          mountPath: /etc/grafana/ldap.toml
          subPath: grafana_ldap.toml

    - name: loki
      #image: registry1.dso.mil/ironbank/opensource/grafana/loki:LOKI_VERSION
      image: localhost/loki-custom:LOKI_VERSION
      securityContext:
        runAsUser: --UID--
        runAsGroup: --GID--
      ports:
        - containerPort: 3100
          hostPort: 3100
      volumeMounts:
        - name: shared-storage
          mountPath: /shared-storage

        - name: configs
          mountPath: /etc/loki/local-config.yaml
          subPath: loki-config.yaml

    - name: mimir
      #image: registry1.dso.mil/ironbank/opensource/grafana/mimir:MIMIR_VERSION
      image: localhost/mimir-custom:MIMIR_VERSION
      ports:
        - containerPort: 9009
          hostPort: 9009
      args:
        - -config.file=/shared-storage/configs/mimir.yml
      volumeMounts:
        - name: shared-storage
          mountPath: /shared-storage
